html, body {
    margin: 0;
}
main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20vw;
    box-sizing: border-box;
    background-color: #080808;
}
img {
    width: 100%;
}
ol {
    max-width: 600px;
    margin-top: 30px;
    font-family: 'Square Peg', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #f2b376;
    h2 {
        margin: 0;
        margin-bottom: 10px;
        &::after {
            content: ":";
        }
        &[out-of-guides] {
            &::after {
                content: "";
            }   
        }
    }
}
button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: solid 2px #f2b376;
    color: #f2b376;
    font-family: 'Square Peg', cursive;
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: -25px;
    margin-top: 20px;
}